.topAdSwiper {
	width: 100%;
	height: 40px;
	font-size: 14px;
	text-align: center;
	background-color: #56b770;
	overflow: hidden;
	align-items: center;
	padding: 10px;
}

.topAdSwiper .swiper-slide a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;WW
}

