<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myrium.mapper.OrderMapper">

<select id="findOrdersByCustomerId" resultType="com.myrium.domain.OrderDTO" parameterType="String">
SELECT
  m.customer_id        AS customerId,
  m.customer_name      AS receiver,
  m.phone_number       AS phoneNumber,
  m.zipcode || ' ' || m.addr1 || ' ' || NVL(m.addr2, '') AS address,
  o.id          AS ordersId,
  op.order_status       AS orderStatus,
  TO_CHAR(o.order_date, 'YYYY-MM-DD') AS orderDate,
  p.product_name       AS productName,
  p.product_price      AS productPrice,
  op.quantity          AS quantity
FROM
  orders_product op
JOIN orders o ON op.orders_id = o.id
JOIN product p ON op.product_id = p.id
JOIN member m ON op.user_id = m.id
WHERE (op.is_deleted IS NULL OR op.is_deleted = 0)
  AND m.customer_id = #{customerId}
  AND op.order_status NOT IN ('환불완료', '교환완료','환불신청중','교환신청중')
ORDER BY o.order_date DESC, o.orders_id
</select>

  <!-- 취소/반품/교환 완료 주문 조회 -->
  <select id="selectCanceledOrdersByCustomerId" resultType="com.myrium.domain.OrderDTO" parameterType="String">
    SELECT
      m.customer_id        AS customerId,
      m.customer_name      AS receiver,
      m.phone_number       AS phoneNumber,
      m.zipcode || ' ' || m.addr1 || ' ' || NVL(m.addr2, '') AS address,
      o.orders_id          AS ordersId,
      TO_CHAR(o.order_date, 'YYYY-MM-DD') AS orderDate,
      p.product_name       AS productName,
      p.product_price      AS productPrice,
      op.quantity          AS quantity,
      op.order_status       AS orderStatus
    FROM
      orders_product op
    JOIN orders o ON op.orders_id = o.id
    JOIN product p ON op.product_id = p.id
    JOIN member m ON op.user_id = m.id
    WHERE (op.is_deleted IS NULL OR op.is_deleted = 0)
      AND m.customer_id = #{customerId}
      AND op.order_status IN ('환불완료', '교환완료','교환신청중','환불신청중')
    ORDER BY o.order_date DESC, o.orders_id
  </select>

<!-- 마이페이지 주문 처리 현황 -->
<select id="countOrdersByStatus" resultType="map" parameterType="String">
  SELECT
    TRIM(op.order_status) AS "ORDER_STATUS",
    COUNT(*) AS "COUNT"
  FROM
    orders_product op
  JOIN orders o ON op.orders_id = o.id
  JOIN member m ON o.user_id = m.id
  WHERE (op.is_deleted IS NULL OR op.is_deleted = 0)
    AND m.customer_id = #{customerId}
    AND TRIM(op.order_status) IN ('입금전', '배송준비중', '배송중', '배송완료')
    AND o.order_date >= ADD_MONTHS(SYSDATE, -3)
  GROUP BY TRIM(op.order_status)
</select>



<!-- 마이페이지 총주문 금액합산 -->
<select id="getTotalPaidOrderAmount" parameterType="String" resultType="int">
  SELECT
    NVL(SUM(op.quantity * NVL(p.product_price, 0)), 0)
  FROM
    orders_product op
  JOIN orders o ON op.orders_id = o.id
  JOIN member m ON o.user_id = m.id
  LEFT JOIN product p ON op.product_id = p.id
  WHERE (op.is_deleted IS NULL OR op.is_deleted = 0)
    AND m.customer_id = #{customerId}
    AND op.order_status IN ('배송준비중', '배송중', '배송완료')
    AND o.order_date >= ADD_MONTHS(SYSDATE, -3)
</select>


<!-- 주문상세내역 -->
<select id="findOrderDetailById" parameterType="long" resultType="com.myrium.domain.OrderDTO">
  SELECT
    o.id AS id,                         
    TO_CHAR(o.order_date, 'yyyy-MM-dd') AS orderDate, 
    op.orders_id AS ordersId,      
    op.quantity,
    op.order_status AS orderStatus,
    p.product_name,
    p.product_price
  FROM
    orders o
  JOIN orders_product op ON o.id = op.orders_id
  JOIN product p ON op.product_id = p.id
  WHERE o.id = #{orderId}
</select>
</mapper>