<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myrium.mapper.ProductMapper">

	<!-- 메인페이지 전시 여부 확인 후 리스트 가져오기 -->
	<select id="getproductList"
		resultType="com.myrium.domain.ProductVO">
		select * from product where ${isMain} = 1
	</select>

	<!-- 썸네일 여부 확인 후 가져오기 -->
	<select id="getThumbnail"
		resultType="com.myrium.domain.ImgpathVO">
		SELECT * FROM ( SELECT * FROM img_path WHERE product_id =
		#{productid} AND is_thumbnail = 1 ORDER BY id) WHERE ROWNUM = 1
	</select>

	<!-- 타임세일 여부에 따른 리스트 조회 -->
	<select id="gettimesaleList"
		resultType="com.myrium.domain.ProductVO">
		select * from product where is_timesales = 1
	</select>

	<!-- 상품 디테일 페이지 상품 받아오기 -->
	<select id="getproductInfo"
		resultType="com.myrium.domain.ProductVO">
		select * from product where id=#{id}
	</select>

	<!-- 썸네일 이미지 불러오기 -->
	<select id="productInfothumbnail"
		resultType="com.myrium.domain.ImgpathVO">
		select * from img_path where product_id=#{id} and
		is_thumbnail = 1
	</select>

	<select id="productSliderImg"
		resultType="com.myrium.domain.ImgpathVO">
		select * from img_path where product_id=#{id} and
		is_thumbnail = 0 and is_detail = 0
	</select>

	<!-- 상품 상세정보 이미지 불러오기 -->
	<select id="productDetailImg"
		resultType="com.myrium.domain.ImgpathVO">
		select * from (select * from img_path where
		product_id=#{id} and is_thumbnail = 0 and is_detail = 1) WHERE ROWNUM
		= 1
	</select>

	<!-- 인기있는 상품 상위 10개만 조회하기 -->
	<select id="getPopularProduct"
		resultType="com.myrium.domain.ProductVO">
		SELECT * FROM ( SELECT * FROM product ORDER BY sales_count
		DESC) where ROWNUM &lt;= 10
	</select>

	<!-- 장바구니에 담기 -->
	<select id="inCart" resultType="com.myrium.domain.CartVO">
		INSERT INTO cart
		(id,product_id,user_id,quantity,is_selected,created_by,created_at,updated_by,updated_at,is_deleted)
		values
		(cart_seq.NEXTVAL,#{productId},#{userId},#{quantity},1,#{customerId},sysdate,null,null,0)
	</select>

	<!-- 장바구니 리스트 불러오기 -->
	<select id="CartList" resultType="com.myrium.domain.ProductVO">
		SELECT * FROM product WHERE id
		IN(select product_id from cart where user_id = #{userId} AND
		is_deleted = 0)
	</select>

	<!-- 카트에 담긴 물건 수량 불러오기 -->
	<select id="getCartInfo" resultType="com.myrium.domain.CartVO">
		SELECT * FROM cart WHERE
		product_id = #{productId} and user_id = #{userId}
	</select>

	<!-- 장바구니에 상품이 존재하는지 확인 -->
	<select id="findCartItem" resultType="com.myrium.domain.CartVO">
		SELECT * FROM cart WHERE
		user_id = #{userId} and product_id = #{productId}
	</select>

	<select id="addQuantity" resultType="com.myrium.domain.CartVO">
		UPDATE cart
		SET quantity =
		#{newQuantity, jdbcType=INTEGER},
		updated_at = sysdate, is_deleted = 0
		WHERE product_id = #{productId, jdbcType=BIGINT}
		AND user_id =
		#{userId, jdbcType=BIGINT}
	</select>

	<update id="updateQuantity"
		parameterType="com.myrium.domain.OrderDTO">
		UPDATE cart SET quantity = #{newQuantity, jdbcType=INTEGER}, updated_at =
		sysdate
		WHERE product_id = #{productId, javaType=java.lang.Long, jdbcType=BIGINT}
		AND user_id = #{userId, javaType=java.lang.Long, jdbcType=BIGINT}
		AND is_deleted = 0
	</update>

	<update id="deleteCart">
		UPDATE cart SET is_deleted = 1, quantity = 0 WHERE
		product_id = #{productId} AND user_id = #{userId}
	</update>
	
	<select id="getStock" resultType="int">
		SELECT product_stock FROM product WHERE id = #{productid}
	</select>
	
	<update id="decreaseStock">
		UPDATE product SET product_stock = #{decreaseStock} where id = #{productid}
	</update>
	
	<select id="getSalesCount">
		SELECT sales_count from product where id = #{productid}
	</select>
	
	<update id="increaseSalesCount">
		UPDATE product SET sales_count = #{increaseSalesCount} where id = #{productid}
	</update>
</mapper>